
#pricing-table {
	padding-top: 30px;
}
#pricing-table li{
	height: 40px;
	color: black;
	text-align: center;
	overflow: hidden;
}

.class_inline_1{
	width: 49%;
	display: inline-block;
	padding-top: 1%;
}

#pricing-table .pricing {
	margin: 0;
	padding: 0;
	font-family: 'Robot', sans-serif;
}
#pricing-table .pricing .pricing-table {
	padding-bottom: 15px;
}
#pricing-table .pricing .pricing-table .pricing-header {
	position: relative;
	background: #34495e;
	padding: 6px 18px;
	text-align: center;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-title {
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	text-align: center;
	font-weight: 500;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate {
	font-size: 60px;
	font-weight: 600;
	color: #ffffff;
	position: relative;
	text-align: center;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate sup {
	font-size: 24px;
	position: relative;
	top: -30px;
	color: #bdc3c7;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate span {
	font-size: 13px;
	color: #bdc3c7;
	text-transform: uppercase;
}
#pricing-table .pricing .pricing-list {
	padding: 20px 0 40px 0;
	background: #c4baba1c;
	border: 1px solid #e3e3e3;
}
#pricing-table .pricing .pricing-list ul {
	padding: 0px;
	display: table;
	margin: 0px auto;
	width: 100%;
	text-align: center;
}
#pricing-table .pricing .pricing-list ul li {
	list-style: none;
	border-bottom: 1px solid #EAECEB;
	color: black;
	font-size: 15px;
	line-height: 42px;
}
#pricing-table .pricing .pricing-list ul li:last-child {
	border: none;
}
#pricing-table .pricing .pricing-list ul li i {
	margin-right: 12px;
	color: #bdc3c7;
}
#pricing-table .pricing .pricing-list ul li span {
	color: #34495e;
}
.pricing-title>span{
	font-size: 12px;
	letter-spacing: 1px;
}
p.pricing-title{
	height: 70px;
}
p.pricing-rate{
	margin-bottom: 50px;
}

.pricing-list li:nth-of-type(2n+1) {
	background-color: rgba(23, 61, 80, 0.06);
}
.btn-disabled, .btn-disabled[disabled] {
  opacity: .4;
  cursor: default !important;
  pointer-events: none;
}











































/*.mo_rest_api_table_layout_support_btn{*/
/*  position: fixed;*/
/*  top: 100px;*/
/*  z-index: 10000;*/
/*  right: -391px;*/
/*}*/
/*.mo_saml_table_layout_support_1{*/
/*  border-radius: 4px;*/
/*  position: relative;*/
/*  width: 350px;*/
/*  border: 1px solid #CCCCCC;*/
/*  padding: 15px 20px 17px 20px;*/
/*  background-color: white;*/
/*}*/
/*.mo_rest_api_table_layout_support_1{*/
/*	border-radius: 1px;*/
/*	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);*/
/*	width: 90%;*/
/*	margin-top: 1.8%;*/
/*	padding: 4%;*/
/*  float: right;*/
/*	background-color:white;*/
/*	border:1px solid black;*/
/*	margin-bottom: 10px;*/
/*}*/

/*.fa.fa-pull-right {*/
/*    margin-left: .3em;*/
/*}*/
/*.fa-pull-right {*/
/*    float: right;*/
/*}*/
/*.fa-fw {*/
/*    width: 1.28571429em !important;*/
/*    text-align: center;*/
/*}*/
/*.mo_rest_welcome_message{*/
/*	display: block;*/
/*	margin-top: 10px;*/
/*	text-align: center;*/
/*	font-size: 15px;*/
/*	color: rgba(0, 128, 0, 0.70);*/
/*	background-color: rgba(0, 255, 0, 0.15);*/
/*	padding: 5px;*/
/*	border: 1px solid rgba(0, 128, 0, 0.15);*/
/*	border-radius: 4px;*/
/*}*/
/*.mo_rest_login_message{*/
/*	display: block;*/
/*	margin-top: 10px;*/
/*	text-align: center;*/
/*	font-size: 15px;*/
/*	color: white;*/
/*	background-color:red;*/
/*	padding: 5px;*/
/*	border: 1px solid rgba(0, 128, 0, 0.15);*/
/*	border-radius: 4px;*/
/*}*/
/*.fa-lg {*/
/*    font-size: 1.33333333em;*/
/*    line-height: .75em;*/
/*    vertical-align: -15%;*/
/*}.fa-lg {*/
/*     font-size: 1.33333333em;*/
/*     line-height: .75em;*/
/*     vertical-align: -15%;*/
/* }*/
/*.fa {*/
/*    display: inline-block;*/
/*    font: normal normal normal 14px/1 FontAwesome;*/
/*    font-style: normal;*/
/*    font-variant-ligatures: normal;*/
/*    font-variant-caps: normal;*/
/*    font-variant-numeric: normal;*/
/*    font-variant-east-asian: normal;*/
/*    font-weight: normal;*/
/*    font-stretch: normal;*/
/*    font-family: FontAwesome;*/
/*    font-size: inherit;*/
/*    text-rendering: auto;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*}*/
/*.mo_copy {*/
/*    border: 1px solid #CCCCCC;*/
/*    padding: 8px;*/
/*    background-color: #FBFBFB;*/
/*    cursor: pointer;*/
/*}*/

/*.mo_copy:active {*/
/*    background: gray;*/
/*}*/

/*.mo_td_values{*/
/*    font-size: 1.1em;*/
/*    font-weight: 600;*/
/*    font-family: sans-serif;*/
/*}*/

/*.selected-text, .selected-text>*{*/
/*    background: #2196f3;*/
/*    color: #ffffff;*/
/*}*/

/*textarea.form-textarea {*/
/*    width: fit-content;*/

/*}*/


/*.mo_rest_api_highlight_background_url_note{*/
/*    background-color: #e0e0e0;*/
/*    border-radius: 4px;*/
/*    padding: 0.55em;*/
/*    width: fit-content;*/
/*    float: left;*/
/*}*/

/*.mo-margin{*/
/*    margin-left: 10px;*/
/*}*/

/*.mo_guide_table{*/
/*    max-width: 100%;*/
/*    margin-bottom: 20px;*/
/*    border-spacing: 0;*/
/*    border-collapse: collapse;*/
/*}*/

/*.mo_copy_icon_not_center>thead>tr>th, .mo_guide_table-bordered>thead>tr>th{*/
/*    border-bottom-width: 2px;*/
/*}*/
/*.mo_guide_table-bordered, .mo_copy_icon_not_center {*/
/*    border: 1px solid #ddd;*/
/*}*/

/*.mo_guide_table-bordered>thead>tr>th, .mo_guide_table-bordered>tbody>tr>td {*/
/*    border: 1px solid #ddd;*/
/*}*/

/*.mo_copy_icon_not_center>thead>tr>th, .mo_copy_icon_not_center>tbody>tr>td{*/
/*    border: 1px solid #ddd;*/
/*}*/

/*.mo_guide_table>thead>tr>th {*/
/*    padding: 8px;*/
/*    line-height: 1.42857143;*/
/*}*/

/*.hidden-table:hover {*/
/*	background-color: transparent;*/
/*}*/

/*table tr:hover td {*/
/*	background-color: inherit;*/
/*	opacity: 1.0;*/
/* }*/

/*.mo_guide_table-striped>tbody>tr:nth-of-type(odd) {*/
/*    background-color: #f9f9f9;*/
/*}*/
/*.mo_guide_text-color {*/
/*    color: #fe7e00;*/
/*}*/
